body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('fundo.jpeg'); /* Adicione aqui a imagem de fundo */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #fff; /* Cor do título */
}

form {
    background-color: rgba(0, 0, 0, 0.7); /* Fundo semi-transparente */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 16px;
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
    color: #ddd;
}

button {
    padding: 10px;
    border: none;
    border-radius: 25px;
    background-color: #007BFF; /* Cor do botão */
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3; /* Cor ao passar o mouse */
}

.register-link {
    text-align: center;
    margin-top: 10px;
    width: 100%; /* Certifique-se de que o link use 100% da largura disponível */
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
